{% extends "index.html" %}
{% load static %}

{% block content %}
    <div class="container mt-5">
      <div class="row">
        {% if sepet|length > 0 %}
        {% for urun in sepet %}
       
        <div class="col-4">
          <div class="card">
            <img class="card-img-top" src="{{urun.urun.resim.url}}" height="250" alt="Card image cap">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <h5 class="card-title">{{urun.urun.isim}}</h5>
                <p>Satıcı: {{urun.urun.satici.username}} </p>
              </div>
              <p> {{urun.urun.kategori.isim}} </p>
              <!--Manytomany yazdırılması ; birden fazla kategori olduğu için döngü kullanılır-->
              {% for alt in urun.altkategori.all  %}
                  <small> {{alt.isim}} </small>
              {% endfor %}
              <p class="card-text">{{urun.urun.aciklama}}</p>
              <p>Fiyat : {{urun.urun.fiyat}} tl </p>
              <p> Adet: {{urun.adet}} </p>
              <p>Toplam Fiyat: {{urun.toplamFiyat}} </p>
            
            </div>
          </div>
                  </div>
        
        {% endfor %}
        {% else %}
        <h1>Eşleşen üsün bulunmamaktadır</h1>
        {% endif %}
      </div>
    </div>
   
{% endblock content %}